<!-- <ion-slides>
  <ion-slide class="step-one">
    <h2>E-COMMERCE</h2>
    <lottie-animation-view [options]="lottieConfig"></lottie-animation-view>
    <p>
      <b>Ionic Framework</b> is an open source SDK that enables developers to
      build high quality mobile apps with web technologies like HTML, CSS, and
      JavaScript.
    </p>
  </ion-slide>

  <ion-slide class="step-two">
    <lottie-animation-view [options]="lottieConfig2"></lottie-animation-view>

    <h2>Serviços Diversos?</h2>

    <p>
      <b>Ionic Framework</b> is an open source SDK that enables developers to
      build high quality mobile apps with web technologies like HTML, CSS, and
      JavaScript.
    </p>
  </ion-slide>

  <ion-slide class="step-three">
    <lottie-animation-view [options]="lottieConfig3"></lottie-animation-view>

    <p>
      <b>Ionic Framework</b> is an open source SDK that enables developers to
      build high quality mobile apps with web technologies like HTML, CSS, and
      JavaScript.
    </p>
  </ion-slide>
</ion-slides> -->

<ion-slides pager="true">
  <ion-slide class="step-one">
    <ion-img src="/assets/slides/step1.svg"></ion-img>
    <h1>Heading</h1>
    <p>Text</p>
  </ion-slide>

  <ion-slide class="step-two">
    <ion-img src="/assets/slides/step2.svg"></ion-img>
    <h1>Heading</h1>
    <p>Text</p>
  </ion-slide>

  <ion-slide class="step-three">
    <ion-img src="/assets/slides/step3.svg"></ion-img>
    <h1>Heading</h1>
    <p>Text</p>

    <ion-button>FINISH TUTORIAL!</ion-button>
  </ion-slide>
</ion-slides>
