<ion-slides pager="true">
  <ion-slide class="step-one">
    <h2>E-COMMERCE</h2>

    <lottie-animation-view
      [width]="400"
      [height]="400"
      [options]="lottieConfig"
    ></lottie-animation-view>

    <p class="body-p">
      <b>Lorem</b> ipsum dolor sit amet, consectetur adipiscing elit. Mauris
      augue ex, tristique vitae ipsum quis, ultrices fermentum felis. Aliquam
      vestibulum nibh neque.
    </p>
  </ion-slide>

  <ion-slide class="step-two">
    <lottie-animation-view
      [width]="400"
      [height]="400"
      [options]="lottieConfig2"
    ></lottie-animation-view>

    <h2>Serviços Diversos?</h2>

    <p class="body-p">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris augue ex,
      tristique vitae ipsum quis, ultrices fermentum felis. Aliquam vestibulum
      nibh neque.
    </p>
  </ion-slide>

  <ion-slide class="step-three">
    <lottie-animation-view
      [width]="400"
      [height]="400"
      [options]="lottieConfig3"
    ></lottie-animation-view>
  </ion-slide>

  <ion-slide class="step-four">
    <lottie-animation-view
      [options]="lottieConfig4"
      [width]="300"
      [height]="300"
    ></lottie-animation-view>

    <h2>DASHBOARD</h2>

    <p class="body-p">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris augue ex,
      tristique vitae ipsum quis, ultrices fermentum felis. Aliquam vestibulum
      nibh neque.
    </p>
  </ion-slide>

  <ion-slide class="step-five">
    <lottie-animation-view
      [options]="lottieConfig5"
      [width]="200"
      [height]="200"
    ></lottie-animation-view>

    <h2>washingtonbsb</h2>

    <p class="body-p">
      Esse código está disponível no meu
      <a href="https://github.com/washingtonbsb"> Git </a>, acessa lá!
    </p>
  </ion-slide>
</ion-slides>
