ion-slides {
  height: 100%;
  width: 100%;
}

ion-slide {
  flex-direction: column;
}

ion-slide > p {
  margin: 25px;
}

.body-p > a {
  text-decoration: none;
}

.step-one {
  background: linear-gradient(-90deg, #342942e8, #6c39aae8);
  color: var(--ion-color-primary-contrast);
}

.step-two {
  background: #00bcd4d6;
  color: var(--ion-color-success-contrast);
}

.step-three {
  background: #000;
  color: var(--ion-color-dark-contrast);
}

.step-four > h2 {
  color: #f26423;
  font-weight: bold;
}
