ion-slide {
  height: 100vh;
  flex-direction: column;
}

.step-one {
  background: #6c39aae8;
  color: var(--ion-color-primary-contrast);
}

.step-two {
  background: #00bcd4d6;
  color: var(--ion-color-success-contrast);
}

.step-three {
  background: var(--ion-color-dark);
  color: var(--ion-color-dark-contrast);
}

ion-slide {
  height: 100vh;
  flex-direction: column;
}


